[submodule "DeepCRISPR"]
	path = DeepCRISPR
	url = https://github.com/bm2-lab/DeepCRISPR.git
[submodule "Azimuth"]
	path = Azimuth
	url = https://github.com/MicrosoftResearch/Azimuth.git
[submodule "DeepHF"]
	path = DeepHF
	url = https://github.com/izhangcd/DeepHF.git
